.changepwd-tit{
	
	background-image:url(../images/changepwd_tit_bg.png);
}
.changepwd-box{
	width: 850px;
	height: 235px;
	border: 1px solid #CCCCCC;
	padding-left: 48px;
	background: url(../images/mypage_nav_li_hover.png) no-repeat 22px 23px;
}
.changepwd-box-tit{
	width: 802px;
	height: 60px;
	border-bottom: 1px dashed #CCCCCC;
	line-height: 60px;
}
.changepwd-box-list{
	width: 370px;
	height: 145px;
	padding-top: 29px;
}
.changepwd-box-form-li{
	height: 32px;
	margin-bottom: 10px;
}
.changepwd-box-form-li-tit{
	height: 32px;
	width: 132px;
	line-height: 32px;
}
.changepwd-box-form-li-pwd,.changepwd-box-form-li-newpwd,.changepwd-box-form-li-newpwd-again{
	height: 30px;
	width: 212px;
	border: 1px solid #CCCCCC;
}
.changepwd-box-form-sub{
	margin-top: 34px;
}
