.ginfo-footer{
	margin-top: 80px;
}
#ginfo-map{
	height:99px;
	width: 1160px;
	margin: 0 auto;
	line-height: 99px;
	color: #9696B8;
}
#ginfo-map a{
	color: #9696B8;
}

#ginfo-information{
	height: 404px;
	width: 1160px;
	margin: 0 auto;
}
.ginfo-information-img-box{
	width: 240px;
	height: 330px;
	position: relative;
}
.fdj-box{
	width: 240px;
	height: 330px;
	position: absolute;
	top: 0;
	left: 0;
	background: tomato;
	z-index: 100;
	opacity: 0;
}
.fdj{
	width: 50px;
	height: 50px;
	position: absolute;
	background: #CCCCCC;
	opacity: 0.5;
	display: none;
}
.fdj-show{
	width: 200px;
	height: 200px;
	overflow: hidden;
	left: 250px;
	position: absolute;
	display: none;
}
.fdj-img{
	width: 960px;
	height: 1320px;
	position: absolute;
	left: 0;
	top: 0;
}
.ginfo-information-img{
	width: 240px;
	height: 330px;
}
.ginfo-information-info{
	height: 332px;
	width: 516px;
	margin:0 10px 0 44px;
}
.ginfo-information-info-name-en, .ginfo-information-info-name-ch{
	display: block;
	height: 20px;
	line-height: 20px;
	
}
.ginfo-information-info-name-ch{
	margin-bottom: 20px;
}
.ginfo-information-info-li{
	/*margin-top: 20px;*/
	height: 40px;
	padding-left: 8px;
	float: #dedede;
	border-bottom: 1px dashed #686868;
	line-height: 40px;
}
.ginfo-information-info-li-vip{
	height: 64px;
	overflow: hidden;
	/*padding-top:20px;*/
}
.ginfo-information-info-li-name{
	color: #888888;
	font-weight: 900;
	display: block;
	height: 40px;
	width: 62px;
	float: left;
}
.ginfo-information-info-li-val{
	font-size: 18px;
	font-weight: 900;
}
.ginfo-information-info-li-price .ginfo-information-info-li-val{
	color: #33B7FF;

}
.ginfo-information-info-li-vip-name{
	height: 16px;
	width: 34px;
	line-height: 16px;
	border-radius: 30px;
	background: #33B7FF;
	text-align: center;
	color: #fff;
	margin: 20px 47px 0 0;
	
}
.ginfo-information-info-li-vip-val p{
	line-height: 28px;
	color: #888888;
}
.ginfo-information-info-li-vip-val p a{
	color: #888888;
}
.ginfo-information-info-li-val-select{
	height: 20px;
	width: 50px;
	border: 1px solid #D8D8D8;
	margin: 10px 6px 0 0;
	color: #000000;
	background: #EBEBEB;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	font-weight: 100;
	cursor: pointer;
}
.ginfo-information-info-li-val-select-active{
	background: #000;
	border-color:#000 ;
	color: #fff;
}
.ginfo-information-info-li-val-select-hover{
	background: #EBEBEB;
	border-color:#000 ;
	color: #000;
}
.ginfo-information-info-selected{
	height: 193px;
	width: 318px;
	border: 1px solid #CCC;
	margin-top: 100px;
	padding: 35px 0 0 30px;
}
.ginfo-information-info-selected span{
	font-size: 13px;
	color: #000;
	font-weight: 900;
}
.ginfo-information-info-selected-show-box{
	height: 20px;
	width: 318px;
	margin: 26px 0 48px 0 ;
}
.ginfo-information-info-selected-btn-box{
	height: 50px;
	width: 318px;
}
.ginfo-information-info-selected-show{
	height: 22px;
	width: 52px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	background: #000000;
	margin-right: 8px;
	display: none;
}
.ginfo-information-info-selected-btn-rack, .ginfo-information-info-selected-btn-shoppingcar{
	height: 50px;
	border: 1px solid #CCCCCC;
	line-height: 50px;
	text-align: center;
	border-radius: 5px;
	float: left;
	cursor: pointer;
}
.ginfo-information-info-selected-btn-shoppingcar{
	width: 180px;
	font-size: 21px;
	color: #FFFFFF;
	background: #33B7FF;
}
.ginfo-information-info-selected-btn-rack{
	width: 100px;
	font-size: 14px;
	margin-left: 8px;
}
.ginfo-information-info-selected-btn-box .ginfo-information-info-selected-btn-hover{
	background: #FF5A00;
	color: #FFFFFF;
}
.ginfo-information-info-number-box{
	height: 19px;
	width: 33px;
	margin-top:12px ;	
}
.ginfo-information-info-number-show{
	height: 17px;
	width: 20px;
	border: 1px solid #D8D8D8;
	text-align: center;
	line-height: 17px;
}
.ginfo-information-info-number-add,.ginfo-information-info-number-minus{
	height: 8px;
	width: 9px;
	border: 1px solid #D8D8D8;
	cursor: pointer;
}
.ginfo-information-info-number-add{
	border-bottom:none ;
	background: url(../images/ginfo-information-info-number-add.png) ;
}
.ginfo-information-info-number-minus{
	background: url(../images/ginfo-information-info-number-minus.png) ;
}
#ginfo-page-btn-box{
	width: 1160px;
	height: 128px;
	margin: 0 auto;
	border: 1px solid #CCCCCC;
	margin-bottom: 70px;
}
.ginfo-page-btn{
	height: 106px;
	width: 197px;
	padding: 22px 0 0 35px;
	background:url(../images/ginfo-page-btn.png) no-repeat right center ;
	cursor: pointer;
}
#ginfo-page-btn-box .ginfo-page-btn-active {
		background-color:#F3F3F3 ;
}
#ginfo-page-btn-box .ginfo-page-btn-active .ginfo-page-btn-img{
	background-color:#FFFFFF ;
}
#ginfo-page-btn-box .ginfo-page-btn-hover {
		background-color:#F3F3F3 ;
}
#ginfo-page-btn-box .ginfo-page-btn-hover .ginfo-page-btn-img{
	background-color:#FFFFFF ;
}
.ginfo-page-btn-img{
	height: 75px;
	width: 75px;
	border-radius: 50%;
	background-color: #F3F3F3;
	background-repeat: no-repeat;
	background-position: center;
}
.ginfo-page-btn-name{
	height: 57px;
	width: 90px;
	text-align: center;
	padding-top: 18px;
}
.ginfo-page-btn-name-en{
	font-size: 17px;
	font-weight: 900;	
}
.ginfo-page-btn-name-ch{
	line-height: 27px;
	font-size: 15px;
}
#ginfo-page-btn-box .ginfo-page-btn-distribution{
	background-image:none;
}
.ginfo-page-btn-details .ginfo-page-btn-img{
	background-image:url(../images/ginfo-page-btn-details-bg.png) ;
	
}
.ginfo-page-btn-sizeinfo .ginfo-page-btn-img{
	
	background-image:url(../images/ginfo-page-btn-sizeinfo-bg.png) ;
}
.ginfo-page-btn-coordinate .ginfo-page-btn-img{
	background-image:url(../images/ginfo-page-btn-coordinate-bg.png) ;
}
.ginfo-page-btn-review .ginfo-page-btn-img{
	background-image:url(../images/ginfo-page-btn-review-bg.png) ;
}
.ginfo-page-btn-distribution .ginfo-page-btn-img{
	background-image:url(../images/ginfo-page-btn-distribution-bg.png) ;
}
.ginfo-page{
	margin: 0 auto ;
	display: block;	
	
}
.ginfo-page-details{
	width: 1160px;
}
.ginfo-page-details .ginfo-page-details-txtinfo{
	height: 418px;
	text-align: center;
	line-height: 37px;
}
.ginfo-page-details-imginfo{
	margin: 0 auto;
}
.ginfo-page-sizeinfo{
	width:960px;
	height: 1120px;

}
.ginfo-page-sizeinfo-tit{
	height: 85px;
	line-height: 85px;
	font-size: 16px;
	font-weight: 900;
	text-align: center;
}
.ginfo-page-sizeinfo-returns{
	margin: 0 auto;
	width: 930px;
	height: 46px;
}
.ginfo-page-sizeinfo-returns dt,.ginfo-page-sizeinfo-returns dd{
	border-top: 1px solid #707070;
	border-bottom: 1px solid #DFDFDF;
	height: 44px;
	line-height: 44px;
	float: left;
}
.ginfo-page-sizeinfo-returns dt{
	width: 120px;
	background: #EFEFEF;
	text-align: center;
}
.ginfo-page-sizeinfo-returns .ginfo-page-sizeinfo-returns-check{
	height: 14px;
	width: 14px;
	border: 1px solid #000000;
	margin: 14px 6px 0 0;
	background: url(../images/ginfo-page-sizeinfo-tit-returns-check-bg.png) no-repeat center;
}
.ginfo-page-sizeinfo-returns dd .ginfo-page-sizeinfo-returns-nocheck{
	background: none;
	
}
.ginfo-page-sizeinfo-returns dd{
	width: 320px;
	background: #FFFFFF;
	padding-left: 25px;
}
.ginfo-page-sizeinfo-goodsinfo{
	height: 90px;
	width:930px ;
	border-top: 1px solid #000;
	margin: 20px auto 44px;
		
}

.ginfo-page-sizeinfo-goodsinfo dt,.ginfo-page-sizeinfo-goodsinfo dd{
	height: 44px;
	border-bottom: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;	
	float: left;
}
.ginfo-page-sizeinfo-goodsinfo dt{
	width: 119px;
	line-height: 44px;
	text-align: center;
}
.ginfo-page-sizeinfo-goodsinfo dd{
	width: 300px;
	height: 35px;
	padding: 9px 0 0 44px;
	
}
.ginfo-page-sizeinfo .ginfo-page-sizeinfo-goodsinfo .ginfo-page-sizeinfo-goodsinfo-lastli{
	border-right: none;
}
.ginfo-page-sizeinfo-goodsinfo-infodiv{
	height: 27px;
	width: 59px;
	text-align: center;
	line-height: 27px;
	color: #000000;
	margin-right: 40px;
	float: left;
}	
.ginfo-page-sizeinfo-goodsinfo .ginfo-page-sizeinfo-goodsinfo-infodiv-select{
	background: url(../images/ginfo-page-sizeinfo-goodsinfo-selected.png) no-repeat;
	color: #FFFFFF;
}
.ginfo-page-sizeinfo-img1{
	height: 384px;
	width: 260px;
}
.ginfo-page-sizeinfo-size{
	width: 696px;
	height: 62px;
	border-top: 1px solid #DFDFDF;
	border-left: #DFDFDF 1px solid;
}
.ginfo-page-sizeinfo-size dt,.ginfo-page-sizeinfo-size dd{
	height: 30px;
	border-bottom: 1px solid #DFDFDF;
	border-right: #DFDFDF 1px solid;
	float: left;
	width: 64px;
	text-align: center;
	line-height: 30px;
}
.ginfo-page-sizeinfo-size dt{
	background: #F2F2F2;
}
.ginfo-page-sizeinfo-size dd{
	background: #FFFFFF;
}
.ginfo-page-sizeinfo .ginfo-page-sizeinfo-size .ginfo-page-sizeinfo-size-firstli{
	width: 140px;
}
.ginfo-page-sizeinfo .ginfo-page-sizeinfo-size .ginfo-page-sizeinfo-size-langli{
	width: 130px;
}
.ginfo-page-sizeinfo .ginfo-page-sizeinfo-size .ginfo-page-sizeinfo-size-lastli{
	width: 98px;
}
.ginfo-page-sizeinfo-clear{
	height: 60px;
	width: 563px;
	margin-top: 231px;
	background: #F2F2F2;
	padding: 30px 0 0 134px;
}
.ginfo-page-sizeinfo-clear-img{
	margin-right: 22px;
}
.ginfo-page-sizeinfo-img2{
	margin: 0 auto;
	height: 450px;
	width: 250px;
}
.ginfo-page-coordinate{
	height: 535px;
	width: 960px;
}
.ginfo-page-coordinate-tit{
	height: 85px;
	line-height: 85px;
	text-align: center;
	font-weight: 900;
	font-size: 17px;
}
.ginfo-page-coordinate-box{
	height: 428px;
	padding: 22px 0 0 256px;
}
.ginfo-page-coordinate-info{
	height: 340px;
	width: 185px;
	margin-right: 58px;
}
.ginfo-page-coordinate-info-img{
	height: 254px;
	margin-bottom: 20px;
}
.ginfo-page-coordinate-info a{
	line-height: 15px;
	font-size: 12px;
	color: #000000;
}
.ginfo-page-coordinate-info a:hover{
	color: #FF3366;
	text-decoration: underline;
}
.ginfo-page-coordinate-info .ginfo-page-coordinate-info-ch{
	color: #999;
}
.ginfo-page-coordinate-info-price{
	line-height: 30px;
	font-size: 13px;
}
.ginfo-page-review{
	margin: 0 auto;
	width: 930px;
}
.ginfo-page-review-tit{
	height: 44px;
	border-bottom: 1px solid #000000;
	line-height: 44px;
	padding-left: 5px;
	font-size: 16px;
	
}
.ginfo-page-review-tit span{
	float: right;
	font-size: 12px;
}
.ginfo-page-review-tit em{
	font-style: normal;
}
.ginfo-page-review-list{
	height: 45px;
	border-bottom: 1px solid #CCCCCC;
	padding-left: 13px;
}
.ginfo-page-review-list-time,.ginfo-page-review-list-txt,.ginfo-page-review-list-user{
	height: 45px;
	line-height: 45px;
}
.ginfo-page-review-list-time{
	width: 126px;
}
.ginfo-page-review-list-txt{
	width: 611px;
	font-weight: 900;
}
.ginfo-page-review-list-user{
	width: 180px;
}
.ginfo-page-review-btn{
	height: 25px;
	width: 50px;
	text-align: center;
	line-height: 25px;
	background: #000000;
	margin: 20px 0 66px 880px;
	color: #FFFFFF;
}
.ginfo-page-review-problem{
	height: 182px;
	border-top: 1px solid #CCCCCC;
	padding: 45px 0 0 190px;
	
}
.ginfo-page-review-problem-tit{
	height: 30px;
	width: 498px;
	border: 1px solid #CCCCCC;
	margin-bottom: 5px;
}
.ginfo-page-review-problem span{
	float: left;
	display: block;
}
.ginfo-page-review-problem-txt{
	width: 394px;
	height: 98px;
	border: 1px solid #CCCCCC;
	margin-right: 4px;
}
.ginfo-page-review-problem-btn{
	height: 80px;
	width: 100px;
	padding-top: 20px;
	cursor: pointer;
	background: #000000;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: 900;
}
.ginfo-page-disribution{
	width: 945px;
	height: 320px;
	margin: 0 auto;
}
.ginfo-page-disribution-tit{
	height: 49px;
	/*border-bottom: 1px solid #ccc;*/
	text-align: center;
	font-size: 15px;
	font-weight: 900;
	padding-top: 11px;
}
.ginfo-page-disribution-list{
	height: 240px;
	padding:20px 0 0 64px;
	border: 1px #CCCCCC solid;
	background: url(../images/ginfo_page_disribution_list_bg.png) no-repeat  44px 35px;
}
.ginfo-page-disribution-list-li{
	width: 826px;
	border-bottom:1px #CCCCCC dashed ;
	font-size: 12px;
}
.ginfo-page-disribution-list .ginfo-page-disribution-list-li-last{
	border: none;
}
.ginfo-page-disribution-list-li-name,.ginfo-page-disribution-list-li-txt{
	padding:7px 0 23px ;
	line-height: 28px;
}
.ginfo-page-disribution-list-li-name{
	width: 78px;
}
.ginfo-page-disribution-list-li-txt{
	width: 748px;	
}
