body
{
	background: #F3F1F4;
}
#main
{
	height: 840px;
	width: 1000px;
	margin: 0 auto;
	background:  url(../img/reg_pic.png) no-repeat 554px 135px;
	margin-top: 30px;
}
.loginBorder
{
	height: 522px;
	width: 456px;
}
.loginTop
{
	width: 456px;
	height: 94px;
	position: relative;
	
}
.loginTop .ifLogin
{
	position: absolute;
	left: 300px;
	top: 40px;
	height: 45px;
	width: 143px;
	color: white;
	background: url(../img/login_btn.png) no-repeat 0px -190px;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
}
.loginBot
{
	width: 430px;
	height: 503px;
	border: 1px solid #ccc;
	border-radius: 2%;
	margin-left: 5px;
	padding: 25px 0 0 20px;
	
}
.loginBot1
{
	height: 29px;
	width: 397px;
	border-bottom: 1px solid #E1E0E1;
}
.loginBot2
{
	border-top: 1px solid #F9F8F9;
	height: 326px;
	width: 391px;
	border-bottom: 1px solid #E1E0E1;
	padding: 23px 0 0 6px;
	
}

.loginBot2 p
{
	height: 34px;
	width: 100px;
	margin-top: 9px;
	font-size: 14px;
}
.loginBot2 .txt
{
	height: 36px;
	width: 246px;
	border-radius: 6%;
	border: 1px solid #BBBBBB;
	
}
.loginBot2 li
{
	height: 56px;
	position: relative;
	
}
.loginBot2 li .errorInfo
{
	position: absolute;
	left: 150px;
	top: 40px;
	display: block;
	float: left;
	height: 12px;
	width: 200px;
	font-size: 11px;
	color: red;
	
}
.loginBot2 li .trueOrFalse
{
	height: 21px;
	width: 21px;
	position: absolute;
	left: 350px;
	top: 8px;
	background: url(../img/R_W.png) no-repeat 0 -230px;
	float: left;
}
.loginBot2Btn
{
	height: 62px;
	width: 150px;
	background: url(../img/login_btn.png) no-repeat 0 0;
	margin-top: 13px;
	margin-left: 67px;
	cursor: pointer;
}
.loginBot3
{
	border-top: 1px solid #F9F8F9;
	height: 234px;
	width: 397px;
	
}
.loginBot3 img
{
	margin-right: 5px;
	margin-top: 10px;
	cursor: pointer;
}
.loginBot3 .last
{
	margin-right: 0px;
}

