#mainShopping
{
	min-height:29px;*+height:100%;_height:29px;
}
#mainShopping table
{
	width: 996px;
	margin: 0 auto;
}
#mainShopping table img
{
	height: 55px;
	width: 88px;
	
}
#mainShopping .delete
{
	cursor: pointer;
}
#mainShopping thead
{
	height: 30px;
	background: #FAF7F8;
}
#mainShopping thead td
{
	text-align: center;
	line-height: 30px;
}
#mainShopping tbody .first
{
	height: 88px;
	width: 480px;
	padding-left: 20px;
	
}
.shoppingPic
{
	height: 55px;
	width: 88px;
	border: 1px solid #BBBBBB;
}
.shoppingInfo
{
	height: 55px;
	width: 375px;
	background: #fff;
}
#mainShopping tfoot 
{
	height: 50px;
	
	
}
.numChangeLeft
{
	height: 22px;
	width: 13px;
	background: #BBBBBB;
	text-align: center;
	line-height: 22px;
		color: #FFFFFF;
		cursor: pointer;
}
.numShow
{
	height: 20px;
	width: 45px;
	text-align: center;
	line-height: 20px;
}
.numChangeRight
{
	height: 22px;
	width: 13px;
	background: #BBBBBB;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
		cursor: pointer;
}
.numShopping
{
	color: red;
}
.priceShopping
{
	color: red;
}
#mainShoppingSure
{
	height: 100px;
	width: 996px;
	margin: 0 auto;
	position: relative;
}
#mainShoppingSure .img1
{
	position: absolute;
	left: 500px;
	top: 20px;
	cursor: pointer;
}
#mainShoppingSure .img2
{
	position: absolute;
	left: 700px;
	top: 20px;
	cursor: pointer;
}
#Step
{
	height: 100px;
	width: 1000px;
	margin: 0 auto;
	position: relative;
	
}
#Step .space
{
	height: 40px;
	width: 1000px;
}
#Step .line
{
	height: 1px;
	width: 1000px;
	background: #eeeeee;
}
#Step ul
{
	position: absolute;
	left: 100px;
	top: 25px;
	
}
#Step ul li
{
	margin-right: 340px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #999999;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-family: "新宋体";
	font-weight: 900;
	font-size: 15px;
}
#Step ul .last
{
	margin-right: 0px;
	
}
#Step ul .first
{
	background: #C20525;
	color: ;
		
}
#Step .info1
{
	position: absolute;
	left: -10px;
	top: 40px;
}
#Step .info2
{
	position: absolute;
	left: 360px;
	top: 40px;
}
#Step .info3
{
	position: absolute;
	left: 730px;
	top: 40px;
	white-space: nowrap;
}

