*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
.left{
	float:left;
}
.right{
	float:right;
}
.red{
	color:#E60012;
}
img{
	border:0;
}
body{
	width:100%;
	height:100%;
	font-size:12px;
	background:#fff;
	font-family:"微软雅黑";
}
#colore_gray{
	width:100%;
	background:#F8F8F8;;
}
#header{
	width:100%;
	height:45px;
	background:url(../img/header.jpg) no-repeat;
	background-position:center;
	margin:0 auto;
	cursor:pointer;
}
#header_nav{
	width:100%;
	height:31px;
	border-bottom:1px solid #E9E9E9;
	background:#F6F6F6;
}
.header_nav{
	width:1190px;
	height:31px;
	margin:0 auto;
}
.header_nav div{
	font-family:"微软雅黑";
	line-height:32px;
	font-size:12px;
}
.header_nav .fontSize{
	font-size:14px;
	text-align: center;
	width:100px;
	border-left:1px solid #E9E9E9;
}
.header_nav .fontSize a{
	color:#666666;
	font-family:"微软雅黑",arial;
}
.header_nav .fontSize a:hover{
	color: #E60012;
}
.header_nav .fontSize a .show{
	display:none;
}
.header_nav .fontSize a:hover .hide{
	display:none;
}
.header_nav .fontSize a:hover .show{
	display:block;
	float:left;
}
.header_nav .fashion_mall{
	background:#fff;
}
.header_nav .Seoul{
	background:#B90000;
}
.header_nav .Seoul a{
	color:#fff;
}
.header_nav .Seoul a:hover{
	color:#fff;
}
.header_nav .mobile_buy{
	border-right:1px solid #E9E9E9;
	position:relative;
}
.buy_hidebox{
	display:none;
	width:243px;
	height:150px;
	padding:15px 0 0 20px;
	background:#fff;
	box-shadow:0px 2px 5px #ccc;
	z-index:99;
}
.hidebox_top{
	width:243px;
	height:107px;
	position:relative;
}
.top_code{
	width:93px;
	height:98px;
	margin-right:10px;
	position:absolute;
	left:0;
	top:0;
	background:url(../img/buy_hidebox.jpg) no-repeat 0 0;
}
.top_right{
	padding-top:6px;
}
.apple{
	width:116px;
	height:44px;
	position:absolute;
	left:103px;
	top:0;
	background:url(../img/buy_hidebox.jpg) no-repeat -106px 0;
}
.android{
	width:116px;
	height:44px;
	position:absolute;
	left:103px;
	top:54px;
	background:url(../img/buy_hidebox.jpg) no-repeat -106px -50px;
}
.buy_hidebox p{
	text-align:left;
	font-size:18px;
}
.buy_hidebox p .load{
	color:#666666;
}
.buy_hidebox p .app{
	margin-left:10px;
	color:#000;
	font-weight:900;
}

.header_nav .mobile_buy .mobile_buy_bg1{
	width:8px;
	height:13px;
	background:url(../img/all.png) no-repeat /*scroll????????*/ -152px -80px;
	position:absolute;
	left:10px;
	top:10px;
	overflow:hidden;
	font-size:10px;
	line-height:10px;
}
.header_nav .mobile_buy .mobile_buy_bg2{
	width: 11px;
	height: 11px;
	left: 82px;
	background:url(../img/all.png) no-repeat -187px -840px;
}
.header_nav .header_nav_right div{
	float:left;
	text-align: center;
	/*padding:0 10px;*/
}
.header_nav .header_nav_right .login-div{
	padding-left:0;
	/*padding-right:20px;*/
}
.header_nav .header_nav_right .login-div a span{
	color: #E60012;
	margin-right:20px;
}
.header_nav .header_nav_right .myBuy{
	width:80px;
	margin-left: 10px;
	background:url(../img/all.png) no-repeat -122px -830px;
	position:relative;
}
.myBuy .mycollection{
	cursor:pointer;
	display:none;
	position:absolute;
	top:30px;
	left:-1px;
	width:80px;
	height:30px;
	background:#fff;
}
.header_nav .header_nav_right .myBuy:hover{
	background:#fff;
	border:1px solid #ccc;
	border-bottom:0;
}
.header_nav .header_nav_right .myBuy:hover a{
	display:block;
	float:left;
	width:80px;
	height:30px;
	background:url(../img/all.png) no-repeat -122px -830px;
}
.myBuy:hover .mycollection{
	display:block;
	border:1px solid #ccc;
	border-top:0;
}
.header_nav .header_nav_right .myOrder{
	width:67px;
}
.header_nav .header_nav_right .myBuy a:hover{
	color:#E60012 ;
}
.header_nav .header_nav_right .myOrder a:hover{
	color:#E60012 ;
}
.header_nav .header_nav_right .publicNotice{
	width:55px;
	background:url(../img/all.png) no-repeat -145px -830px;
	position:relative;
}
.header_nav .header_nav_right .publicNotice:hover{
	background:#fff;
	border:1px solid #ccc;
	border-bottom:0;
}
.header_nav .header_nav_right .publicNotice:hover .public_hide{
	display:block;
}
.header_nav .header_nav_right .publicNotice:hover>a{
	display:block;
	float:left;
	width:55px;
	background:url(../img/all.png) no-repeat -145px -830px;;
}
.public_hide{
	z-index:999;
	display:none;
	position:absolute;
	top:31px;
	right:-1px;
	width:205px;
	height:120px;
	padding:14px 0 0 20px;
	border:1px solid #ccc;
	border-top:0;
	background:#fff;
}
.public_hide p{
	height:22px;
	line-height:22px;
	text-align:left;
}
.public_hide p a:hover{
	color:#E60012;
}
.more{
	position:relative;
}
.more:hover .more_hide{
	display:block;
}
.more_hide{
	z-index:999;
	display:none;
	position:absolute;
	top:31px;
	right:-1px;
	width:60px;
	height:50px;
	padding:5px 20px;
	border:1px solid #ccc;
	border-top:0;
	background:#fff;
}
.more_hide p{
	text-align:left;
	height:25px;
}
#header_logo{
	width:1190px;
	height:126px;
	margin:0 auto;
}
.logo{
	width:308px;
	height:126px;
	position:relative;
	background:url(../img/logo.jpg) no-repeat 0px 20px;
}
.input_box{
	width:526px;
	height:83px;
	padding-top:43px;
}
.input_box .search_box{
	width:526px;
	height:33px;
}
.input_box .search_box input{
	width:437px;
	height:29px;
	float:left;
	border:2px solid #000;
}
.input_box .search_box a{
	display:block;
	float:left;
	border:0;
	width:85px;
	height:33px;
	background:url(../img/all.png) no-repeat -115px -530px;
}
.input_box .search_link{
	width:441px;
	padding-top:15px;
}
.input_box .search_link .red{
	color: #E60012;
}
.input_box .search_link a{
	font-size:10px;
	color:#666;
}
.input_box .search_link a:hover{
	color: #E60012;
}
.shopping_box{
	padding-top:43px;
	padding-left:150px;
	position:relative;
}
.shopping_box:hover .shop_tip{
	display:block;
}
.shop_tip{
	display:none;
	z-index:99;
	position:absolute;
	top:76px;
	right:0px;
	width:300px;
	height:55px;
	background:#fff;
	text-align:center;
	line-height:55px;
	color:#ccc;
	box-shadow:0px 0px 10px #aaa;
}
.shopping_box .shopping_car{
	width:144px;
	height:31px;
	line-height:31px;
	border:1px solid #D1D3D4;
	float:right;
}
.shopping_box .shopping_car a{
	margin-left:15px;
}
.shopping_box .shopping_car a span{
	color:#E600A2;
}
.shopping_box .shopping_car .car{
	display:block;
	float:left;
	width: 22px;
	height: 21px;
	margin-left: 10px;
	margin-top: 5px;
	background: url(../img/all.png) no-repeat -90px -531px;
}
.shopping_box .shopping_car .tip{
	display:block;
	float:right;
	width: 6px;
	height: 3px;
	margin-right: 10px;
	margin-top: 14px;
	background: url(../img/all.png) no-repeat -88px -552px;
}
.shopping_box p{
	height:50px;
	line-height:40px;
	color:#939598;
	text-align:right;
	clear:both;
}
#content_nav{
	width:1190px;
	height:39px;
	margin:0 auto;
	font-size:16px;
	font-weight:900;
	line-height:39px;
	background:#F8F8F8;
	position:relative;
}
.allGoods_category{
	width:200px;
	color:#fff;
	background:#000;
	text-align:center;
}
.second_menu{
	z-index:999;
	display:none;
	position:absolute;
	left:0;
	top:39px;
	width:198px;
	height:476px;
	border:1px solid #D1D3D4;
	border-top:0;
}
.second_menu .outer_ul{
	width:198px;
	height:476px;
}
.second_menu .outer_ul>li{
	font-size:12px;
	color:#666;
	width:198px;
	height:50px;
	background:#F5F5F5;
	padding-top:18px;
	position:relative;
}
.second_menu .outer_ul>li:hover .category_block{
	display:block;
}
/*.second_menu .outer_ul li */.category_block{
	display:none;
	position:absolute;
	left:199px;top:0;
	z-index:999;
	width:146px;
	height:478px;
	background:#fff;
	border:1px solid #D1D3D4;
	border-left:0;
	border-top:0;
}
/*.second_menu .outer_ul li */.category_block ul{
	width:146px;
	height:478px;
}
/*.second_menu .outer_ul li*/ .category_block ul li{
	width:146px;
	background:#fff;
}
.category_block ul li .move_right{
	width:120px;
	height:18px;
	padding:8px 13px 17px 13px;
	position:relative;
}
/*.second_menu .outer_ul li*/ .category_block ul li .move_right h3{
	width:120px;
	height:18px;
	background:#EEEEEE;
	text-align:center;
	line-height:18px;
	font-size:12px;
	font-weight:900;
	color:#000;
	position:absolute;
	left:13px;
	top:10px;
}
/*.second_menu .outer_ul li*/ .category_block ul li p{
	width:126px;
	height:20px;
	line-height:20px;
	padding-left:20px;
	color:#87749A;
}
/*.second_menu .outer_ul li */.category_block ul li p a{
	display:block;
	float:left;
	font-size:12px;
	font-weight:100;
	color:#666666;
	width:63px;
	height:20px;
	
}
.category_block ul li p a:hover{
	color:#E60012;
}
.second_menu .outer_ul li .us_block a:hover{
	text-decoration:underline;
	cursor:pointer;
}
.second_menu .outer_ul>li:hover{
	background:#666666;
}
.second_menu .outer_ul>li:hover .us_block{
	height:50px;
	font-size:12px;
	font-weight:100;
}
.second_menu .outer_ul>li:hover .us_block h3{
	height:25px;
}
.second_menu .outer_ul>li:hover .us_block p{
	height:25px;
}
.second_menu .outer_ul>li:hover .us_block h3 a{
	color:#fff;
}
.second_menu .outer_ul>li:hover .us_block p a{
	color:#fff;
}
.second_menu .outer_ul>li i{
	position:absolute;
	display:block;
	width:26px;
	height:20px;
	margin:10px 5px;
	left:0px;top:0;
}
.second_menu .outer_ul>li .first_category{
	background:url(../img/small-img.jpg) no-repeat 4px -206px;
}
.second_menu .outer_ul>li .second_category{
	background:url(../img/small-img.jpg) no-repeat 4px -182px;
}
.second_menu .outer_ul>li .thrid_category{
	background:url(../img/small-img.jpg) no-repeat 4px -27px;
}
.second_menu .outer_ul>li .fourth_category{
	background:url(../img/small-img.jpg) no-repeat 4px -104px;
}
.second_menu .outer_ul>li .fifth_category{
	background:url(../img/small-img.jpg) no-repeat 4px -155px;
}
.second_menu .outer_ul>li .sixth_category{
	background:url(../img/small-img.jpg) no-repeat 4px -233px;
}
.second_menu .outer_ul>li .seventh_category{
	background:url(../img/small-img.jpg) no-repeat 4px -130px;
}
.second_menu .outer_ul>li:hover .first_category{
	background:url(../img/small-img.jpg) no-repeat -52px -206px;
}
.second_menu .outer_ul>li:hover .second_category{
	background:url(../img/small-img.jpg) no-repeat -52px -182px;
}
.second_menu .outer_ul>li:hover .thrid_category{
	background:url(../img/small-img.jpg) no-repeat -52px -27px;
}
.second_menu .outer_ul>li:hover .fourth_category{
	background:url(../img/small-img.jpg) no-repeat -52px -104px;
}
.second_menu .outer_ul>li:hover .fifth_category{
	background:url(../img/small-img.jpg) no-repeat -52px -155px;
}
.second_menu .outer_ul>li:hover .sixth_category{
	background:url(../img/small-img.jpg) no-repeat -52px -233px;
}
.second_menu .outer_ul>li:hover .seventh_category{
	background:url(../img/small-img.jpg) no-repeat -52px -130px;
}
.second_menu .outer_ul>li .us_block{
	position:absolute;
	left:36px;top:0px;
	width:162px;
	height:50px;
}
.second_menu .outer_ul>li .us_block h3{
	height:26px;
	font-size:12px;
	font-weight:900;
	color:#333333;
}
.second_menu .outer_ul>li .us_block p{
	color:#666666;
}
.category_nav ul{
	width:729px;
}
.category_nav ul li{
	float:left;
	margin-right:30px;
}
.category_nav ul .sport{
	margin-left:12px;
}
.category_nav ul .red{
	position:relative;
}
.category_nav ul li .new_tip{
	height: 15px;
	position: absolute;
	right:-8px;
	top:-10px;
	width: 22px;
	background:url(../img/new-tip.gif) no-repeat scroll;
}
.category_nav ul .red a{
	color:#E60012;
}
.category_nav ul li a{
	color:#000;
}
.category_nav ul li a:hover{
	color:#E60012;
}
.category_right{
	width:260px;
}
/*-----------------------------------------------------------*/
#content{
	width:1190px;
	height:643px;
	margin:0 auto;
}
.your_position{
	height:28px;
	color:#666;
}
.your_position a{
	color:#3366CC;
}
.your_position a:hover{
	color:#E60012;
}
.mirror{
	height:615px;
}
/*放大镜左边---------------------------------------------------------*/
.mirror_left{
	width:482px;
	height:615px;
}
.smImg{
	width:480px;
	height:480px;
	border:1px solid #ccc;
	position:relative;
}
/*放大镜拖拽块--------------------------------*/
#drag{
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:288px;
	height:288px;
	background:rgba(0,0,0,0.2);
}
.smImg img{
	width:480px;
	height:480px;
}
.miniImg{
	width:482px;
	height:66px;
	margin:11px 0 11px 0;
	padding-top:5px;
}
.miniImg ul{
	width:482px;
	height:66px;
}
.miniImg ul li{
	float:left;
	margin-right:3px;
	width:60px;
	height:60px;
	border:1px solid #ccc;
	padding:2px;
	position:relative;
}
.miniImg ul li i{
	display:none;
	float:left;
	width:10px;
	height:5px;
	position:absolute;
	left:25px;
	top:-5px;
	background:url(../img/tebu_tip.png) no-repeat 3px 0px;
}
.miniImg ul .act_border{
	float:left;
	margin-right:3px;
	width:60px;
	height:60px;
	border:1px solid #E60012;
	padding:2px;
}
.miniImg ul .act_border i{
	display:block;
}
.miniImg ul .margin0{
	margin:0;
}
.miniImg ul li img{
	width:60px;
	height:60px;
}
.share-clc .good_order{
	color:#999;
}
.share-clc .share{
	margin:0 30px 0 260px;
	position:relative;
}
.share-clc .share i{
	display:block;
	float:left;
	position:absolute;
	right:28px;
	top:2px;
	width:15px;
	height:13px;
	background:url(../img/detail_zh.png) no-repeat -1px -144px;
}
.share-clc .collet{
	position:relative;
}
.share-clc .collet i{
	display:block;
	float:left;
	position:absolute;
	right:28px;
	top:2px;
	width:15px;
	height:13px;
	background:url(../img/detail_zh.png) no-repeat -1px -167px;
}
/*放大镜中间部分----------------------------------------------*/
.mirror_center{
	width:490px;
	height:615px;
	margin:0 39px 0 15px;
	position:relative;
}
/*放大镜右侧显示大图-------------------------*/
#bigImg{
	display:none;
	z-index:1000;
	overflow:hidden;
	width:480px;
	height:480px;
	border:1px solid #ccc;
	position:absolute;
	left:2px;
	top:0;
	/*position:relative;*/
}
#bigImg  img{
	position:absolute;
	left:0;
	top:0;
	width:800px;
	height:800px;
}
.mirror_center .par1{
	height:37px;
	font-size:16px;
	font-weight:900;
	color:#333;
}
.mirror_center .par2{
	height:44px;
}
.mirror_center .par2 a{
	font-size:14px;
	color:#3366CC;
	text-decoration:underline;
}
.mirror_center .par2 a:hover{
	color:#E60012;
}
.mirror_center .par3{
	height:58px;
}
.par3 .red{
	color:#E60012;
	font-size:24px;
	font-weight:900;
}
.par3 .line_through{
	margin:0 15px;
	text-decoration:line-through;
	font-size:12px;
	color:#999;
}
.mirror_center .par4{
	height:29px;
}
.par4 .grade{
	width:130px;
	position:relative;
}
.grade i{
	display:block;
	float:left;
	width:62px;
	height:13px;
	position:absolute;
	top:2px;
	left:62px;
	background:url(../img/star.png) no-repeat 0px -101px;
}
.par4 .red{
	color:#E60012;
}
.par4 .blue{
	color:#3366CC;;
	margin:0 170px 0 5px;
}
.ask{
	position:relative;
}
.ask i{
	display:block;
	float:left;
	position:absolute;
	right:55px;
	top:2px;
	width:18px;
	height:13px;
	background:url(../img/detail_zh.png) no-repeat -1px -190px;
}
.mirror_center .par5{
	width:475px;
	height:208px;
	color:#666;
	padding:24px 0 0 11px;
	background:#eee;
}
.par5 .shoe_color{
	height:42px;
	margin-bottom:15px;
	/*overflow:hidden;
	vertical-align: text-top;*//*对齐？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？*/
}
.par5 .shoe-clr{
	width:33px;
	height:42px;
}
.par5 .shoe_red,.par5 .shoe_blue{
	margin-bottom:15px;
	width:40px;
	height:40px;
	border:1px solid #ccc;
	position:relative;
}
.shoe_blue i{
	display:block;
	float:left;
	position:absolute;
	right:0px;
	bottom:0px;
	width:18px;
	height:13px;
	background:url(../img/detail_zh.png) no-repeat 4px -121px;
}
.shoe_color .shoe_red{
	margin-right:10px;
}
.par5 .shoe_size{
	height:44px;
}
.shoe_size .s_size{
	width:33px;
}
.shoe_size .s_num{
	text-align:center;
	line-height:18px;
	width:31px;
	height:18px;
	background:#fff;
	border:1px solid #E60012;
	position:relative;
}
.shoe_size .s_num i{
	display:block;
	float:left;
	position:absolute;
	right:0px;
	bottom:0px;
	width:18px;
	height:13px;
	background:url(../img/detail_zh.png) no-repeat 4px -121px;
}
.par5 .shoe_num{
	height:42px;
}
.shoe_num .red{
	color:#E60012;
}
.shoe_num .sum{
	display:block;
	width:9px;
	height:9px;
	font-size:6px;
	text-align:center;
	line-height:9px;
	border:1px solid #ccc;
	background:#fff;
	margin:5px 5px;
}
.shoe_num .number{
	width:25px;
	height:17px;
	text-align:center;
	line-height:17px;
	border:1px solid #ccc;
	background:#fff;
}
.par5 .join_car a{
	display:block;
	text-align:center;
	line-height:35px;
	font-size:14px;
	font-weight:900;
}
.join_car .now_buy{
	width:121px;
	height:35px;
	color:#E60012;
	border:1px solid #E60012;
	background:#fff;
}
.join_car .put_car{
	width:148px;
	height:37px;
	color:#fff;
	margin:0 10px;
	background:#E60012;
}
.join_car .code_load{
	width:126px;
	height:35px;
	padding-left:15px;
	color:#939598;
	border:1px solid #ccc;
	background:#fff;
	background:url(../img/detail_zh.png) no-repeat -152px -48px;
}
.mirror_center .par6{
	height:36px;
	padding-top:4px;
	color:#999;
}
.mirror_center .par7{
	color:#999;
}
.par7 span{
	position:relative;
	width:95px;
	display:block;
	float:left;
}
.par7 span i{
	display:block;
	float:left;
	position:absolute;
	width:21px;
	height:21px;
}
.par7 span a:hover{
	cursor:pointer;
	color:#E60012;
}
.primiss,.price-difference,.exchange{
	width:100px;
	padding-left:25px;
}
.primiss i{
	top:0;
	left:0;
	background:url(../img/detail_zh.png) no-repeat 0px -211px;
}
.exchange i{
	top:0;
	left:0;
	background:url(../img/detail_zh.png) no-repeat -21px -211px;
}
.price-difference i{
	top:0;
	left:0;
	background:url(../img/detail_zh.png) no-repeat -44px -211px;
}
/*右侧竖排滚动---------------------------------------------------*/
.mirror_right{
	width:141px;
	height:615px;
	color:#666666;
}
#tab_shupai{
	width:141px;
	height:480px;
	padding:10px 0 15px 0;
	position:relative;
}
.mirror_right .preTop,.mirror_right .nextDown{
	display:block;
	float:left;
	width:25px;
	height:13px;
	position:absolute;
	top:527px;
	cursor:pointer;
}
.mirror_right .preTop{
	left:30px;
	background:url(../img/detail_zh.png) no-repeat -226px -157px;
}
.mirror_right .nextDown{
	right:20px;
	background:url(../img/detail_zh.png) no-repeat -226px -186px;
}
.mirror_right .preTop:hover{
	left:30px;
	background:url(../img/detail_zh.png) no-repeat -226px -218px;
}
.mirror_right .nextDown:hover{
	right:20px;
	background:url(../img/detail_zh.png) no-repeat -226px -249px;
}
.look{
	height: 16px;
	overflow: hidden;
	position: relative;
}
.look s{ /*??-----------------------------------------------*/
	border-top: 1px dotted #c9c9c9;
	height: 0;
	left: -4px;
	position: absolute;
	text-decoration: none;
	top: 10px;
	width: 140px;
}
.look span{
	background-color: #fff;
	color: #999;
	left: 50%;
	margin-left: -3em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 6em;
}
.tab_virticle{
	width:160px;
	height:480px;
	position:relative;
	overflow:hidden;
}
.tab_virticle ul{
	height:2880px;
	position:absolute;
	top:0;
}
.tab_virticle ul li{
	height:160px;
}
.tab_virticle ul li a{
	display:block;
	height:20px;
	line-height:20px;
	position:relative;
	cursor:pointer;
}
.tab_virticle ul li a .p_left{
	position:absolute;
	left:0;
}
.tab_virticle ul li a .p_right{
	position:absolute;
	right:0;
}
.tab_virticle ul li img{
	width:140px;
	height:140px;
	cursor:pointer;
}
.tab_virticle ul li a:hover{
	color:#E60012;
}
/*recommend-------------------------------------------------------------------*/
#recommend{
	width:1188px;
	height:282px;
	border:1px solid #ccc;
	margin:0 auto;
	margin-bottom:20px;
}
.same_buy{
	height:25px;
}
.tab_recommend{
	width:1116px;
	height:258px;
	padding:0 37px;
	position:relative;
}
.outer{
	width:1116px;
	height:258px;
	position:relative;
	overflow: hidden;
}
.tab_recommend #prePage,.tab_recommend #nextPage{
	position:absolute;
	top:0;
	width:37px;
	height:258px;
	text-align:center;
	line-height:258px;
	font-size:35px;
	color:#666;
	cursor:pointer;
	z-index: 9999;
}
.tab_recommend #prePage{
	left:15px;
}
.tab_recommend #nextPage{
	right:15px;
}

#tab_recommend{
	width:4464px;/*1116*4=4464*/
	height:258px;
	position:absolute;
	left:0px;
}
#tab_recommend dl{
	width:186px;
	height:258px;
	float:left;
	color:#666;
}
#tab_recommend dl dt{
	width:160px;
	height:160px;
	padding:0 13px;
}
#tab_recommend dl dd .red{
	font-size:14px;
	font-weight:900;
}
#tab_recommend dl dd .line_through{
	font-size:12px;
	color:#aaa;
	text-decoration:line-through;
}
#tab_recommend dl .names{
	width:172px;
	height:40px;
	line-height:20px;
}
/*goods_details=====================================*/
#goods_details{
	margin-top:20px;
	width:1190px;
	height:100%;
	margin:0 auto;
}
.details_left{
	width:970px;
	height:100%;
	margin-right:35px;
}
.block_none{
	display:none;
}
.details_nav{
	width:970px;
	height:31px;
	background:#fff;
	border-bottom:2px solid #E60012;
}
.details_nav div{
	float:left;
	width:;
	height:30px;
	padding:0 18px;
	border:1px solid #ccc;
	border-bottom:0;
	text-align:center;
	line-height:30px;
	font-size:14px;
	color:#333333;
	background:#fff;
	cursor:pointer;
}
.details_nav .bg_red{
	background:#E60012;
	color:#fff;
}
.table{
	width:785px;
	height:100%;
	padding:13px 92px 40px;
}
.detail_table .td1{
	padding-right:2px;
	width:123px;
	height:18px;
	background:#F2F2F2;
	text-align:right;	
}
.detail_table .td2{
	width:258px;
	height:18px;
	padding-left:5px;
	background:#F9F9F9;
	text-align:left;	
}

.details_right{
	width:184px;
	height:100%;
}
.pictures{
	width:750px;
	height:100%;
	margin:0 auto;
}
.preice_introduction{
	width:890px;
	height:72px;
	background:#F3F2F2;
	margin:45px 0 22px 0;
	padding-left:80px;
	line-height:36px;
	color:#666;
}
.goods_block{
	width:970px;
	height:100%;
}
.block_nav{
	width:970px;
	height:30px;
	border-bottom:2px solid #E60012;
}
.goods_details{
	width:58px;
	height:30px;
	padding:0 24px;
	background:#E60012;
	color:#fff;
	font-size:14px;
	text-align:center;
	line-height:30px;
}
.block_cont{
	width:794px;
	padding:0 88px;
	height:100%;
}
/*商品评价中星星个数-------------------*/
.people_satisfy{
	width:794px;
	height:100px;
	margin-top:19px;
	background:url(../img/satisfy_bg.png) repeat-x;
}
.starNum{
	width:285px;
	height:71px;
	padding:20px 0 0 20px;
	border-right:1px dashed #C9C9C9;
}
.starNum p i{
	display:block;
	float:left;
	width:124px;
	height:26px;
	position:absolute;
	top:-3px;
	left:72px;
	background:url(../img/star-big.png) no-repeat 0px -200px;
}
.percenNum p{
	position:relative;
	margin:3px 0;
}
.percenNum p i{
	position:absolute;
	top:0;
	left:90px;
	display:block;
	float:left;
	width:100px;
	height:12px;
	background:#ccc;
}
.percenNum p .oLf{
	position:absolute;
	left:200px;
}
.goods_evaluate{
	width:734px;
	height:100%;
	padding:26px 30px 0 30px;
}
/*model_evalue---------------------*/
.model_evalue{
	width:744px;
	height:150px;
}
.md_pic{
	width:90px;
	height:150px;
}
.md_word{
	width:617px;
	height:110px;
	border:1px solid #ccc;
	padding:26px 0 0 21px;
	margin:0 0 12px 12px;
	background:#FBFBFB;
	color:#666;
	position:relative;
}
.md_word>i{
	display:block;
	float:left;
	width:16px;
	height:25px;
	position:absolute;
	top:47px;
	left:-16px;
	background:url(../img/eval-tip.gif) no-repeat;
}
.md_word p{
	height:24px;
}
.md_word .score{
	position:relative;
}
.md_word .score i{
	display:block;
	float:left;
	width:62px;
	height:13px;
	position:absolute;
	top:2px;
	left:62px;
	background:url(../img/star.png) no-repeat 0px -101px;
}
.blue{
	color:#3366E3;
}
.look_nextpage{
	width:400px;
	height:60px;
	margin-left:450px;
	text-align:right;
	color:#999;
}
.look_nextpage span{
	display:block;
	float:left;
	margin:0 5px;
	text-align:center;
	line-height:20px;
}
.span_01{
	width:22px;
	height:20px;
	border:1px solid #ccc;
}
.span_02{
	border:1px solid #E60012;
}
.span_03{
	width:64px;
	height:20px;
	border:1px solid #ccc;
}
.span_05{
	width:35px;
	height:20px;
	border:1px solid #ccc;
}
.span_06{
	width:46px;
	height:22px;
	background:#EDAD3A;
	border-radius:3px;
	color:#fff;
}
/*购物保障goods_safe---------------------*/
.safe_cont{
	width:737px;
	height:100%;
	padding-top:34px;
	margin:0 auto;
}




/*清浮动----------------*/
.clear_float:after{
	content:".";
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
}
/*优秀导购--------------------------------*/
#model3{
	width:1190px;
	height:500px;
	margin-bottom:10px;
	background:#fff;
	margin:0 auto;
}
#model3 .title{
	height:25px;
	padding-left:8px;
	font-size:18px;
	color:#666;
	border-bottom:2px solid #666;
}
#model3 .shopping_guide{
	width:1188px;
	height:473px;
	border:1px solid #E8E8E8;
}
.guide_top{
	width:1082px;
	height:245px;
	padding:18px 53px 0;
	position:relative;
}
.pre{
	position:absolute;
	left:12px;
	top:120px;
	font-size:28px;
}
.next{
	position:absolute;
	right:12px;
	top:120px;
	font-size:28px;
}
.guide_top a{
	display:block;
	float:left;
	width:89px;
	height:60px;
	border:1px solid #E8E8E8;
	border-right:0;
	border-bottom:0;
	text-align:center;
	color:#999;
	/*position:relative;*/
}
.shopping_guide .active1{
	display: none;   /*?????????????????????????????????????*/
}
.guide_top a:hover{
	color:#E60012;
}
.guide_top .border_bottom{
	border-bottom:1px solid #E8E8E8;
}
.guide_top .twelf{
	border-right:1px solid #E8E8E8;
}
.guide_foot{
	width:1151px;
	height:205px;
	padding:4px 0 0 37px;
}
.guide_list{
	width:519px;
	height:205px;
	margin-right:70px;
}
.margin_right{
	margin-right:0px;
}
.guide_list li{
	width:519px;
	height:45px;
	line-height:45px;
	border-bottom:1px dashed #E8E8E8;
	position:relative;
}
.guide_list li a{
	font-size:14px;
	color:#666666;
	cursor:pointer;
}
.guide_list li a:hover{
	color:#E60012;
}
.guide_list li .ft_we a {
	font-weight:900;
}
.guide_list li .more_pst{
	position:absolute;
	right:0;
}

/*--------------------------------------------------------------*/
#cut_off{
	width:100%;
	height:1px;
	background:#E8E8E8;
	border:0;
}
#link{
	width:100%;
	height:189px;
	background:#F4F4F4;
}
#link .link_cont{
	width:1190px;
	height:181px;
	padding-top:8px;
	margin:0 auto;
}
.link_cont .cont_top{
	width:1081px;
	padding-left:107px;
	height:46px;
	border:1px solid #DDDDDD;
}
.cont_top div{
	margin-right:100px;
	font-size:18px;
	font-family:"微软雅黑";
	line-height:46px;
}
.cont_top div a .color_red{
	color:#E60012;
} 
.cont_top div a .color_black{
	color:#666;
} 
.cont_top div a:hover .color_black{
	color:#E60012;
} 
.cont_top div i{
	background:url(../img/all.png) no-repeat 0 -38px;
	display: inline-block;
	/*_zoom: 1;*/
	width: 32px;
	height: 32px;
	vertical-align: middle;
	margin-right: 10px;
}
.cont_top div .i_02{
	background:url(../img/all.png) no-repeat -32px -38px;
}
.cont_top div .i_03{
	width: 35px;
	background:url(../img/all.png) no-repeat -64px -38px;
}
.cont_top div .i_04{
	width:34px;
	background:url(../img/all.png) no-repeat -103px -38px;
}
.link_cont .cont_foot{
	width:1188px;
	height:111px;
	padding-top:22px;
}
.cont_foot dl{
	font-family:"微软雅黑";
	float:left;
	margin-right:80px;
	font-size:12px;
	color:#666;
}
.cont_foot .mg_right50{
	margin-right:40px;
}
.cont_foot .mg_rg0{
	margin-right:0px;
}
.cont_foot dl dt{
	height:22px;
	font-weight:900;
}
.cont_foot dl dd a{
	line-height:20px;
	font-size:12px;
	color:#666;
}
#footer{
	width:100%;
	height:106px;
	background:#000;
}
#footer .footer{
	width:1190px;
	height:106px;
	margin:0 auto;
}
.footer .footer_logo{
	width:110px;
	height:50px;
	padding-top:30px;
}
.footer .footer_right{
	width:1080px;
	height:106px;
}
.footer_right p{
	text-align:right;
	color:#fff;
}
.footer_right p a{
	color:#fff;
}
.footer_right .par1{
	height:22px;
	line-height:22px;
}
.footer_right .par2{
	height:32px;
	line-height:32px;
}
.footer_right .par3 a .img_size{
	width:108px;
	height:40px;
}
/*底部导航botBuyNav---------------------------------------------------------------------*/
#botBuyNav{
	display:block;
	margin:0 auto;
	width:1423px;
	height:68px;
	position:fixed;
	bottom:0;
	background:url(../img/detail_bottom.png) no-repeat;
}



























































