*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
.left{
	float:left;
}
.right{
	float:right;
}
img{
	border:0;
}
body{
	width:100%;
	height:100%;
	background:#fff;
	font-family: "微软雅黑";
}
#header{
	width:100%;
	height:26px;
	background:#F1F1F1;
}
.header{
	width:981px;
	height:26px;
	font-size:12px;
	line-height:25px;
	margin:0 auto;
}
.header a{
	color:#666;
}
.header a:hover{
	color:#e60012;
}
.nav_left .mall a{
	display:block;
	height:14px;
	line-height:14px;
	padding-right:8px;
	margin-top:6px;
	border-right:1px solid #aaa;
}
.mobile_buy{
	width:100px;
	position:relative;
}
.mobile_buy a{
	padding-left:20px;
}
.mobile_buy i{
	position:absolute;
	overflow:hidden;
	display:block;
	float:left;
	/*font-size:10px;
	line-height:10px;*/
}
.mobile_buy .mobile{
	width:8px;
	height:13px;
	left:8px;
	top:7px;
	background:url(../img/all.png) no-repeat -152px -80px;
}
.mobile_buy .tip{
	width:12px;
	height:8px;
	left:76px;
	top:7px;
	background:url(../img/all.png) no-repeat -189px -840px;
}
.nav_right ul li{
	position:relative;
	float:left;
}
.nav_right ul .myBuy a{
	padding-right:20px;
}
.nav_right ul li a{
	display:block;
	height:14px;
	line-height:14px;
	margin-top:6px;
	padding:0 10px;
	border-right:1px solid #666;
}
.nav_right ul li a:hover{
	color:#e60012;
}
.nav_right ul li .login_link{
	color:#e60012;
	border-right:0;
}
.nav_right ul li .regist_link{
	border-right:1px solid #666;
}
.nav_right ul .publicNotice{
	height:14px;
	line-height:14px;
	margin-top:6px;
	padding:0 20px 0 10px;
	border-right:1px solid #666;
}
.nav_right ul .more{
	padding-left:10px;
}
.nav_right ul li i{
	position:absolute;
	display:block;
	float:left;
	width:12px;
	height:8px;
}
.nav_right ul li .i_01{
	left:60px;
	top:7px;
	background:url(../img/all.png) no-repeat -189px -840px;
}
.nav_right ul li .i_02{
	left:39px;
	top:1px;
	background:url(../img/all.png) no-repeat -189px -840px;
}
.nav_right ul li .i_03{
	left:39px;
	top:7px;
	background:url(../img/all.png) no-repeat -189px -840px;
}
#to_mall{
	width:981px;
	height:54px;
	margin:0 auto;
	line-height:54px;
}
#to_mall .ft_big{
	margin-right:65px;
	font-size:22px;
	color:#666;
}
#to_mall .ft_sm a{
	font-size:14px;
	color:#3366CC;
	text-decoration:underline;
}
#to_mall .ft_sm a:hover{
	color:#e60012;
	text-decoration:0;
}
#cut_off{
	width:100%;
	height:2px;
	border:0;
	background:#F59E01;
}
/*registed----------------------------------------------------*/
#registed{
	width:928px;
	height:157px;
	padding:20px 0 0 60px;
	border:1px solid #EED38E;
	border-top:2px solid #EED38E;
	margin:10px auto 20px;
	background:#FFFDEE;
}
.registed_left{
	width:478px;
	height:157px;
}
.nowBack{
	width:401px;
	height:55px;
	padding-left:77px;
}
.nowBack a{
	display:block;
	float:left;
	width:80px;
	height:34px;
	text-align:center;
	line-height:34px;
	color:#fff;
	background:#FDB53D;
	border-radius:3px;
	cursor:pointer;
}
.nowBack span{
	display:block;
	float:left;
	height:34px;
	padding:5px 0 0 5px;
	font-size:14px;
	color:#999;
}
.nowBack span i{
	font-style:normal;
}
.registed_right{
	width:450px;
	height:157px;
}
/*you_like-------------------------------------------*/
#you_like{
	width:992px;
	height:308px;
	margin:0 auto;
}
/*copyright----------------------------------------------------------*/
#main_foot{
	width:990px;
	height:100%;
	padding-top:30px;
	margin:0 auto;
	text-align:center;
	font-size:12px;
	color:#aaa;
}































