*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
.left{
	float:left;
}
.right{
	float:right;
}
.red{
	color:#E60012;
}
.blue{
	color:#3366CC;
}
img{
	border:0;
}
body{
	width:100%;
	height:100%;
	background:#fff;
	font-family: "微软雅黑";
}
#header{
	width:100%;
	height:26px;
	background:#F1F1F1;
}
.header{
	width:981px;
	height:26px;
	font-size:12px;
	line-height:25px;
	margin:0 auto;
}
.header a{
	color:#666;
}
.header a:hover{
	color:#e60012;
}
.nav_left .mall a{
	display:block;
	height:14px;
	line-height:14px;
	padding-right:8px;
	margin-top:6px;
	border-right:1px solid #aaa;
}
.mobile_buy{
	width:100px;
	position:relative;
}
.buy_hidebox{
	display:none;
	width:243px;
	height:150px;
	padding:15px 0 0 20px;
	background:#fff;
	box-shadow:0px 2px 5px #ccc;
	z-index:99;
}
.hidebox_top{
	width:243px;
	height:107px;
	position:relative;
}
.top_code{
	width:93px;
	height:98px;
	margin-right:10px;
	position:absolute;
	left:0;
	top:0;
	background:url(../img/buy_hidebox.jpg) no-repeat 0 0;
}
.top_right{
	padding-top:6px;
}
.apple{
	width:116px;
	height:44px;
	position:absolute;
	left:103px;
	top:0;
	background:url(../img/buy_hidebox.jpg) no-repeat -106px 0;
}
.android{
	width:116px;
	height:44px;
	position:absolute;
	left:103px;
	top:54px;
	background:url(../img/buy_hidebox.jpg) no-repeat -106px -50px;
}
.buy_hidebox p{
	text-align:left;
	font-size:18px;
}
.buy_hidebox p .load{
	color:#666666;
}
.buy_hidebox p .app{
	margin-left:10px;
	color:#000;
	font-weight:900;
}
.mobile_buy a{
	padding-left:20px;
}
.mobile_buy i{
	position:absolute;
	overflow:hidden;
	display:block;
	float:left;
	/*font-size:10px;
	line-height:10px;*/
}
.mobile_buy .mobile{
	width:8px;
	height:13px;
	left:8px;
	top:7px;
	background:url(../img/all.png) no-repeat -152px -80px;
}
.mobile_buy .tip{
	width:12px;
	height:8px;
	left:76px;
	top:7px;
	background:url(../img/all.png) no-repeat -189px -840px;
}
.nav_right ul li{
	position:relative;
	float:left;
}

.myBuy .mycollection{
	cursor:pointer;
	display:none;
	position:absolute;
	top:26px;
	left:-1px;
	width:78px;
	height:90px;
	text-indent:8px;
	color:#666;
	background:#fff;
	z-index:999;
}
.myBuy:hover{
	border:1px solid #ccc;
	border-bottom:0;
}
.myBuy:hover a{
	display:block;
	float:left;
	border-right:0;
	height:26px;
}
/*.myBuy:hover .nav_right>ul>li>a.login_link{
	border-right:0;
}*/
.myBuy:hover .mycollection{
	display:block;
	border:1px solid #ccc;
	border-top:0;
}
.nav_right ul .myBuy a{
	padding-right:20px;
}
.nav_right ul li a{
	display:block;
	height:14px;
	line-height:14px;
	margin-top:6px;
	padding:0 10px;
	border-right:1px solid #666;
}
.nav_right ul li a:hover{
	color:#e60012;
}
.nav_right ul li .regist_link{
	border-right:1px solid #666;
}
.nav_right ul .publicNotice{
	padding:0 20px 0 10px;
	/*border-right:1px solid #666;*/
}
.nav_right ul .publicNotice:hover{
	border:1px solid #ccc;
	border-bottom:0;
}
.publicNotice:hover .public_hide{
	display:block;
}
.publicNotice:hover>a{
	display:block;
	float:left;
	width:55px;
	height:26px;
	background:url(../img/all.png) no-repeat -145px -830px;;
}
.public_hide{
	z-index:999;
	display:none;
	position:absolute;
	top:26px;
	right:-1px;
	width:205px;
	height:120px;
	padding:4px 0 0 20px;
	border:1px solid #ccc;
	border-top:0;
	background:#fff;
}
.public_hide p{
	height:16px;
	line-height:22px;
	text-align:left;
}
.public_hide p a:hover{
	color:#E60012;
}
.nav_right ul .more{
	padding-left:10px;
}
.nav_right ul li i{
	position:absolute;
	display:block;
	float:left;
	width:12px;
	height:8px;
}
.nav_right ul li .i_01{
	left:60px;
	top:7px;
	background:url(../img/all.png) no-repeat -189px -840px;
}
.nav_right ul li .i_02{
	left:39px;
	top:7px;
	background:url(../img/all.png) no-repeat -189px -840px;
}
.nav_right ul li .i_03{
	left:39px;
	top:7px;
	background:url(../img/all.png) no-repeat -189px -840px;
}
/*main_header-------------------------------------------------------------------*/
#main_header{
	width:990px;
	height:60px;
	padding-top:15px;
	margin:0 auto;
}
.shop_logo{
	width:390px;
	height:60px;
	position:relative;
}
.shop_logo i{
	display:block;
	position:absolute;
	left:166px;
	top:19px;
	width:188px;
	height:27px;
	background:url(../img/shopping_zh.jpg) -164px -18px;
}
.shop_step{
	width:600px;
	height:20px;
	padding:20px 0;
}
.shop_step ul{
	width:600px;
	height:20px;
	background: #e8e8e8;
    overflow: hidden;
    position: relative;
	font: 12px/20px tahoma,微软雅黑;
}
.shop_step ul li{
	float:left;
	width:200px;
    text-align: center;
	position: relative;
	z-index: 2;
}
.shop_step ul li.current{
	color: #fff;
    background: #f90;
    z-index: 1;
}
.shop_step ul li em, .shop_step ul li i {
    width: 0;
    height: 0;
    line-height: 0;
    position: absolute;
}
.shop_step ul li em{
	right: -12px;
    top: -2px;
    border: 12px dashed transparent;
    border-left: 12px solid #fff;
    border-right: 0;
}
.shop_step ul li i{
	right: -9px;
    top: 0;
    border: 10px dashed transparent;
    border-left: 10px solid #e8e8e8;
    border-right: 0;
}
.shop_step ul li.current i{
	border-color: transparent transparent transparent #f90;
}
/*none_goods========================================================================*/
#none_goods{
	display:none;
	margin:0 auto;
	width:694px;
	height:173px;
	padding:30px 0 0 296px;
	border:1px solid #ccc;
	font-size:12px;
}
.car{
	width:70px;
	height:57px;
	background:url(../img/shopCar_zh2.png) -29px -151px;
}
.car_cont{
	padding-top:25px;
	color:#666666;
}
.car_cont p a:hover{
	color:#E60012;	
}
.car_cont .par1{
	height:26px;
	font-size:14px;
	color:#939598;
}
.car_cont .par2{
	height:42px;
}
.car_cont .par2 a{
	cursor:pointer;
	display:block;
	width:90px;
	height:26px;
	text-align:center;
	line-height:26px;
	background:#fdf6ec;
	border:1px solid #e9ca93;
	font-size:14px;
	color:#333;
	border-radius:3px;
}
.car_cont .par3{
	height:19px;
}
.car_cont .par3 a{
	cursor:pointer;
}
/*main_goods========================================================================*/
#main_goods{
	/*display:none;*/
	margin:0 auto;
	width:990px;
	height:100%;
	border:1px solid #ccc;
}
.model_title{
	width:990px;
	height:42px;
	border-bottom:1px solid #ccc;
}
.model_title div{
	float:left;
	font-size:10px;
	color:#CCCCCC;
	line-height:42px;
}
.allCheck{
	width:188px;
	padding-left:20px;
	position:relative;
}
.allCheck i{
	border:none;
	position:absolute;
	left:20px;
	top:13px;
	width:14px;
	height:14px;
	display:block;
	float:left;
	background:url(../img/shopCar_checkbox.png) no-repeat -34px -197px;
	cursor:pointer;
}
.allCheck span{
	margin-left:20px;
}
.addModel{
	width:990px;
	height:102px;
	border-bottom:1px dashed #ccc;
}
.addModel div{
	height:72px;
	float:left;
	font-size:12px;
	color:#333;
}
.addModel .picture{
	position:relative;
}
.picture i{
	position:absolute;
	left:15px;
	top:45px;
	width:14px;
	height:14px;
	display:block;
	float:left;
	background:url(../img/shopCar_checkbox.png) -34px -197px;
	cursor:pointer;
}
.picture img{
	position:absolute;
	left:35px;
	top:10px;
	padding:5px;
	border:1px solid #ccc;
}
.numChange span{
	display:block;
	float:left;
	text-align:center;
	line-height:23px;
	width:23px;
	height:23px;
	border:1px solid #ccc;
	cursor:pointer;
}
.addFile p a:hover{
	cursor:pointer;
	color:#E60012;
}
.model_footer{
	width:990px;
	height:60px;
}
.allCheck2{
	width;976px;
	height:44px;
	border-top:1px solid #ccc;
	padding:16px 0 0 14px;
}
.allCheck2 div{
	float:left;
	font-size:12px;
	color: #666;
	margin-right:30px;
}
.all_check{
	position:relative;
	padding-left:20px;
}
.all_check i{
	position:absolute;
	left:2px;
	top:0px;
	width:14px;
	height:14px;
	display:block;
	float:left;
	background:url(../img/shopCar_checkbox.png) -34px -197px;
	cursor:pointer;
}
.total{
	margin:0 auto;
	width:992px;
	height:54px;
	line-height:54px;
	font-size:12px;
	background:#eee;
}
.total_left{
	width:613px;
	height:54px;
	padding-left:34px;
}
.continueBuy{
	display:block;
	float:left;
	width:125px;
	height:40px;
	text-align:center;
	line-height:40px;
	font-size:16px;
	color:#666;
	border-radius:3px;
	border:1px solid #FFDD98;
	background:#FDF8F1;
	cursor:pointer;
	margin:5px 35px 0 0;
}
.total_right{
	width:345px;
	height:54px;
}
.pay{
	display:block;
	float:right;
	width:129px;
	height:54px;
	text-align:center;
	background:#FF5000;
	font-size:14px;
	color:#fff;
	cursor:pointer;
}
/*othersBuy--------------------------------------------*/
#othersBuy{
	width:990px;
	height:100%;
	margin:0 auto;
	font-size:16px;
}
.other_look{
	height:30px;
}
.othersBuy{
	width:990px;
	height:100%;
	border:1px solid #ccc;
	font-size:12px;
}
.othersBuy dl{
	float:left;
	width:172px;
	height:288px;
	padding:0 13px;
	color:#666;
}
.othersBuy dl dt{
	width:160px;
	height:160px;
}
.othersBuy dl .addCar{
	width:100px;
	height:28px;
	border:1px solid #ccc;
	text-align:center;
	line-height:28px;
	border-radius:3px;
	margin-top:10px;
	cursor:pointer;
}
.addCar:hover{
	color:#E60012;
}
.othersBuy dl dd .red{
	font-size:14px;
	font-weight:900;
}
.othersBuy dl dd .line_through{
	font-size:12px;
	color:#aaa;
	text-decoration:line-through;
}
.othersBuy dl .names{
	width:172px;
	height:40px;
	line-height:20px;
}
/*clear_float--------------------------*/
.clear_float:after{
	content:".";
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
}
/*smtips------------------------------------------------------------------------*/
#smtips{
	margin:0 auto;
	width:990px;
	height:115px;
	/*border-bottom:1px solid #ccc;*/
	text-align:right;
	font-size:12px;
	color:#999;
}
#smtips p{
	height:21px;
}
#smtips p a:hover{
	cursor:pointer;
	color:#E60012;
}
.buytips{
	height:24px;
	padding-top:19px;
	padding-left:627px;
}
.buytips span{
	display:block;
	float:left;
	margin-left:30px;
	position:relative;
}
.buytips span i{
	display:block;
	float:left;
	position:absolute;
	left:-15px;
	top:2px;
	width:15px;
	height:15px;
	
}
.buytips span .i_01{
	background:url(../img/shopCar_zh2.png) 0px 0px;
}
.buytips span .i_02{
	background:url(../img/shopCar_zh2.png) 0px -18px;
}
.buytips span .i_03{
	background:url(../img/shopCar_zh2.png) 0px -38px;
}
/*copyright--------------------------------------------------*/
#copyright{
	width:990px;
	padding:15px 0;
	height:100%;
	margin:0 auto;
	text-align:center;
	color:#939598;
	font-size:12px;
	border-top:1px solid #ccc;
}
#copyright a{
	color:#666666;
}
#copyright a:hover{
	color:#E60012;
}






































































